@import "../../assets/variables.scss";

.order {
  width: 100%;
  max-width: 500px;

  border-radius: 12px;
  position: relative;
  box-shadow: 0px 0px 14px -5px #3e5bc24f;

  &__header {
    background-color: $color-primary-accent;
    color: #fff;
    border-radius: 12px 12px 0 0;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      position: absolute;
      right: 20px;
      top: 3px;
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 12px 18px 18px 18px;
    gap: 24px;
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 6px;
    & > div {
      display: grid;
      grid-template-columns: 80px auto;

      &:not(:first-child) {
        padding-left: 4px;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $color-gray-borders;
        padding-bottom: 10px;
      }
    }

    &__header {
      font-weight: 600;
      border-bottom: none !important;
      color: $color-gray;
      font-size: $small-font-size;
    }
  }
  &__notes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    span {
      font-weight: 600;
      color: $color-gray;
      font-size: $small-font-size;
    }
    p {
      margin: 0;
    }
  }

  &__loading {
    background-color: $color-gray-disabled;
  }
}
