@import "../../assets/variables.scss";

.cg-text-area {
    max-width: 100%;
    padding: 10px 12px;
    border: 1px solid $color-gray-borders;
    border-radius: 8px;
    font-size: $base-font-size;
    line-height: 130%;

    &::placeholder {
        color: $color-gray;
    }

    &::-webkit-input-placeholder {
        /* Edge */
        color: $color-gray-placeholder;
        font-size: $base-font-size;
    }

    &::-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $color-gray-placeholder;
        font-size: $base-font-size;
    }

    &:focus-visible,
    &:hover {
        outline: none;
        border-color: #989898; //remove hardcoded. Border colors when input is focused are missing
    }
    transition: border-color 100ms ease-in;
}
