@import "../../assets/variables.scss";

.tab-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    // gap: 16px;
    flex: 1;
    & > div {
      &:first-of-type {
        border-radius: 12px 0 0 0;
      }
      text-transform: capitalize;
      text-align: center;
      border-top: 1px solid $color-gray-borders;
      flex: 1;
      border-right: 1px solid $color-gray-borders;
      padding: 24px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__tab-active {
    border-top: 3px solid $color-primary-accent !important;
  }

  &__add {
    cursor: pointer;
    height: 100%;
    border-radius: 0 12px 0 0;
    width: 70px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    line-height: 2;
    color: #fff;
    background-color: $color-primary-accent;
  }
}
