@import "../../assets/variables.scss";

.home {
  overflow: hidden;
  position: relative;
  height: 100vh;

  &__content {
    height: calc(100vh - 100px);
    overflow: auto;
    padding: 12px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    // justify-content: center;
  }

  &__empty {
    position: absolute;
    /* top: 40%; */
    /* right: 30%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 18px;
    opacity: 0.2 !important;
    svg {
      opacity: 0.4;
      width: 100px !important;
      height: auto;
    }

    span {
      font-weight: 600;
    }
  }
  &__search {
    padding: 12px;
    border: 1px solid $color-gray-borders;
    border-radius: 12px;
    box-shadow: 0px 0px 14px -5px rgba(62, 91, 194, 0.3098039216);
    width: 90%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__totals-action {
    display: flex;
    justify-content: flex-end;
  }

  &__current-day {
    background-color: #CDEAFF;
    z-index: 100;
    padding: 5px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    p {
      margin: 0;
    }
    span {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
