@import "../../assets/variables.scss";

.new-order {
  padding: 20px 10px;
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__error {
    text-align: center;
    margin-top: 20px;
    color: $color-warning;
  }

  &__products {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      max-height: 25vh;
      overflow: auto;
      ::-webkit-scrollbar {
        width: 10px; /* Set your desired width */
      }
      padding-bottom: 5px;
    }

    &__header {
      display: grid;
      grid-template-columns: 120px 80px 50px;
      gap: 5px;
      font-size: $small-font-size;
      color: $color-gray;
    }
  }
  &__days {
    label {
      margin-bottom: 4px;
      font-weight: 300;
      font-size: $base-font-size;
    }

    small {
      font-size: 12px;
      display: block;
      flex: 1;
    }
    & > div {
      display: flex;
      padding: 10px 0;
      gap: 5px;
      button {
        padding: 3px 8px;
        font-size: 12px;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 24px;
  }
}
