@import "../../assets/variables.scss";

.product {
  display: grid;
  grid-template-columns: 150px min-content auto;
  gap: 24px;

  &__actions {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 8px;
    
    // if viewport width is greater than 600px set background black
    @media (min-width: 600px) {
      justify-self: flex-start;
    }
  }

  &__quantity-field {
    display: grid;
    gap: 5px;
    grid-template-columns: 60px 1fr;
  }
}
