@import "../../assets/variables.scss";

.dg-text-field {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 4px;
    font-weight: 300;
    font-size: $base-font-size;
  }

  span {
    font-size: $small-font-size;
    display: block;
    margin-top: 4px;
  }

  &-hint {
    color: $color-gray;
  }
  &-error {
    color: $color-distructive;
  }

  .dg-field-input {
    display: flex;

    svg {
      position: absolute;
      width: 1rem;
      color: $color-gray;
    }

    &--icon-before {
      position: relative;
      display: flex;
      align-items: center;
      svg {
        top: 0.5rem;
        left: 13px;
      }
    }
    &--icon-after {
      position: relative;
      display: flex;
      align-items: center;
      svg {
        top: 0.35rem;
        right: 13px;
      }
    }
    font-family: "Poppins";
  }

  .dg-field-input {
    &--icon-before {
      input {
        padding-left: 36px;
      }
    }
    &--icon-after {
      input {
        padding-right: 36px;
      }
    }
  }
}
