$color-primary: #cdeaff;
$color-primary-dark: #bbdef8;
$color-primary-accent: #3e5bc2;
$color-primary-accent-hover: #5e7ada;
$color-primary-accent-disabled: #d8def3;
$color-primary-accent-light: #ebf7ff;
$color-distructive: #dc2222;
$color-distructive-hover: #f03636;
$color-distructive-warning: #ff4b4b;
$color-distructive-disabled: #ffc2c2;
$color-black: #000000;
$color-text-black: #161816;
$color-white: #fff;
$color-gray: #71757d;
$color-gray-borders: rgba(0, 0, 0, 0.15);
$color-gray-light: #f2f2f2;
$color-gray-darken: #0000000d;
$color-gray-darken-more: #e5e5e5;
$color-gray-text: #8d9197;
$color-gray-disabled: #c9cbcf;
$color-gray-background: #ececec;
$color-gray-placeholder: #1618164d;
$color-success: #25ba3d;
$color-alert: #fff6c7;
$color-alert-darken: #ffb7b7;
$color-success-light: #addc26;
$color-warning: #cb1616;
$color-warning-light: #ffeaea;
$color-purple: #a22cff;
$color-purple-light: #a22cff66;

// SIZES
$base-font-size: 14px;
$small-font-size: 12px;

$header-font-size: 21px;
$large-font-size: 28px;
$extra-large-font-size: 47.25px;
$jumbo-font-size: 71px;

$base-icon-size: 16px;
$small-icon-size: 14px;
$medium-icon-size: 18px;
$large-icon-size: 24px;
